# Mongo database

API_MONGODB_CONNECTION_STRING=mongodb://127.0.0.1:4110
MONGODB_CONNECTION_STRING=mongodb://127.0.0.1:4110
# MONGODB_REPLICA_SET=
MONGODB_TRANSLATIONS_CONNECTION_STRING=mongodb://127.0.0.1:4110
MONGODB_MIGRATIONS_CONNECTION_STRING=mongodb://127.0.0.1:4110

# Algolia

GATSBY_ALGOLIA_APP_ID=JD5JCVZEVS
GATSBY_ALGOLIA_SEARCH_KEY=c5e99d93261645721a1765fe4414389c
ALGOLIA_ADMIN_KEY=


# Translations

GATSBY_AVAILABLE_LANGUAGES=en,es
GOOGLE_TRANSLATE_API_KEY=


# Cloudflare R2 storage

CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
GATSBY_CLOUDFLARE_R2_PUBLIC_BUCKET_URL=


# Email notifications

MAILERSEND_API_KEY=dummy
NOTIFICATIONS_SENDER_NAME=AIID Notifications
NOTIFICATIONS_SENDER=notifications@incidentdatabase.ai

# Prismic

PRISMIC_ACCESS_TOKEN=MC5aSjFfa0JFQUFDQUFiOURr.77-977-977-977-977-977-9NgI8PU7vv70rKu-_ve-_ve-_ve-_ve-_ve-_vUlN77-9Q2fvv71O77-977-9Y--_ve-_vQ
GATSBY_PRISMIC_REPO_NAME=aiidstaging


# Auth

NEXTAUTH_URL=http://localhost:8000
NEXTAUTH_SECRET=678x1irXYWeiOqTwCv1awvkAUbO9eHa5xzQEYhxhMms=


# Other

GOOGLE_MAPS_API_KEY=
SITE_URL=http://localhost:8000
SKIP_PAGE_CREATOR=createBackupsPage


